.navbar-brand {
  width: 12%;
}
header,
main {
  padding: 1rem;
}
header {
  text-align: center;
}
header h1 {
  margin-bottom: 2rem;
}
.device {
  margin: 2rem auto 4rem;
}
.card {
  width: 100% !important;
}
h2 {
  margin: 1rem auto;
  text-align: center;
}
.accordion-header {
  margin: auto;
}
.accordion-button {
  padding: 20px 5px;
}
.nav-item {
  display: inline-flex;
}
.navbar-nav .dropdown-menu {
  position: relative;
  top: 24px;
  left: -6rem;
  margin: 1rem auto 2rem;
}
.navbar-nav .dropdown-menu-2,
.navbar-nav .dropdown-menu-3,
.navbar-nav .dropdown-menu-4,
.navbar-nav .dropdown-menu-5 {
  left: -2rem;
}

.device-description {
  margin: auto;
  text-align: center;
  font-size: 15px;
}

/* PROGRAM A HOLTER - PAGE and APPLY PAGE */
.recorder-img-container {
  width: 40%;
  margin: 2rem auto;
}
.recorder-img-container img,
.lead-placement-img-container img {
  width: 100%;
}
.program-monitor-instr-page h5,
.apply-monitor-instr-page h5,
.import-monitor-instr-page h5,
.zioat-instr-page h5,
.zio-instr-page h5,
.epatch-instr-page h5,
.mct-instr-page h5 {
  margin: 2rem auto 3rem;
  text-align: center;
}
.program-monitor-instr-page li,
.apply-monitor-instr-page li,
.import-monitor-instr-page li {
  margin-bottom: 12px;
}
.lead-placement-img-container {
  margin-bottom: 3rem;
}
video {
  width: 100%;
  margin: auto;
  display: block;
}
iframe {
  width: 100%;
  height: 285px;
}
.mcot {
  position: relative;
}
.alert{
  position: absolute;
  top: 1px;
  z-index: 1;
  width: 100%;
  background-color: red;
  color: white;
  font-size: 13px;
  padding: 10px;
}
@media only screen and (min-width: 768px) {
  .navbar-brand {
    width: 7%;
  }
  .navbar-nav .dropdown-menu {
    margin: 1rem 1rem 2rem;
  }
  .card {
    width: 100% !important;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
  }
  .recorder-img-container img,
  .lead-placement-img-container img {
    width: 45%;
    display: block;
    margin: auto;
  }
  iframe {
    width: 80%;
    height: 350px;
    margin: auto;
    display: block;
  }
}

@media only screen and (min-width: 1000px) {
  .navbar-brand {
    width: 5%;
  }
  .navbar-nav .nav-item {
    margin-right: 8px;
  }
  .navbar-nav .dropdown-menu {
    margin: 1rem 1rem 2rem 2rem;
  }
  video {
    width: 70%;
  }
  iframe {
    width: 90%;
    height: 500px;
  }
}
