.navbar-brand {
  width: 12%;
}
header,
main {
  padding: 1rem;
}
header {
  text-align: center;
}
header h1 {
  margin-bottom: 2rem;
}
.device {
  margin: 2rem auto 4rem;
}
.card {
  width: 100% !important;
}
h2 {
  margin: 1rem auto;
  text-align: center;
}
.accordion-header {
  margin: auto;
}
.accordion-button {
  padding: 20px 5px;
}
.nav-item {
  display: inline-flex;
}
.navbar-nav .dropdown-menu {
  position: relative;
  top: 24px;
  left: -6rem;
  margin: 1rem auto 2rem;
}
.navbar-nav .dropdown-menu-2,
.navbar-nav .dropdown-menu-3,
.navbar-nav .dropdown-menu-4,
.navbar-nav .dropdown-menu-5 {
  left: -2rem;
}

/* Comparison Chart */

h1 {
  text-align: center;
  color: #333;
}

.table-container {
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  margin: auto;
  margin-top: 20px;
  position: fixed;
  top: 0;
  z-index: 1;
  background: rgba(0, 123, 255, 0.897);
  padding: 50px 5px;
  border-radius: 5px;
}

.overview-container h2 {
  position: fixed;
    top: 0;
    z-index: 3;
    text-align: center;
    width: 100%;
    padding-top: 10px;
    color: white;
    text-shadow: 1px 1px black;
}

.overview-icon {
  width: 55px;
  position: fixed;
  right: 10px;
  bottom: 50px;
  z-index: 3;
}
.overview-container {
  display: none;
}
.overview-icon:hover {
  cursor: pointer;
}
.overview-icon:hover ~ .overview-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
}

table {
  width: 100%;
  max-width: 1000px;
  border-collapse: collapse;
  box-shadow: 0 2px 10px rgb(247 241 241 / 95%);
  background-color: white;
}

thead {
  background-color: #007bff;
  color: white;
}

thead th {
  padding: 12px;
  text-align: left;
}

tbody tr {
  border-bottom: 1px solid #ccc;
}

tbody td {
  padding: 12px;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

/* End of comparison chart */

.device-description {
  margin: auto;
  text-align: center;
  font-size: 15px;
}

.available-holters-message {
  position: absolute;
  top: 0;
  left: 0px;
  background: green;
  color: white;
  font-weight: bold;
  padding: 1px 5px;
  border-radius: 5px;
}
/* PROGRAM A HOLTER - PAGE and APPLY PAGE */
.recorder-img-container {
  width: 40%;
  margin: 2rem auto;
  border-radius: 5px;
}
.recorder-img-container img,
.lead-placement-img-container img {
  width: 100%;
  border-radius: 5px;
}
.program-monitor-instr-page h5,
.apply-monitor-instr-page h5,
.import-monitor-instr-page h5,
.zioat-instr-page h5,
.zio-instr-page h5,
.epatch-instr-page h5,
.mct-instr-page h5 {
  margin: 2rem auto 3rem;
  text-align: center;
}
.program-monitor-instr-page li,
.apply-monitor-instr-page li,
.import-monitor-instr-page li {
  margin-bottom: 12px;
}
.lead-placement-img-container {
  margin-bottom: 3rem;
}
video {
  width: 100%;
  margin: auto;
  display: block;
}
iframe {
  width: 100%;
  height: 285px;
}
.mcot {
  position: relative;
}
.alert {
  position: absolute;
  top: 1px;
  z-index: 1;
  width: 100%;
  background-color: red;
  color: white;
  font-size: 13px;
  padding: 10px;
}

.display-element {
  opacity: 0;
}
.is-in-viewport {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.lanyard,
.flex-adapter {
  text-decoration: underline;
  color: blue;
}
.lanyard:hover,
.flex-adapter:hover {
  cursor: pointer;
  position: relative;
}

.lanyard:hover:after,
.flex-adapter:hover:after {
  position: absolute;
  content: url(./images/lanyard.gif);
  left: -170px;
  transform: scale(0.6);
  display: block;
  z-index: 5;
  transition: all 1s ease-in-out;
}
.flex-adapter:hover:after {
  content: url(./images/flex.jpg);
  width: 100%;
  height: 100%;
  left: -103px;
}

@media only screen and (min-width: 768px) {
  .navbar-brand {
    width: 7%;
  }
  .navbar-nav .dropdown-menu {
    margin: 1rem 1rem 2rem;
  }
  .table-container {
    justify-content: center;
  }
  .table-container {
    top: initial;
  }
  .overview-container h2 {
    top: initial;
  }
  .card {
    width: 100% !important;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
  }
  .recorder-img-container img,
  .lead-placement-img-container img {
    width: 45%;
    display: block;
    margin: auto;
  }
  iframe {
    width: 80%;
    height: 350px;
    margin: auto;
    display: block;
  }
}

@media only screen and (min-width: 1000px) {
  .navbar-brand {
    width: 5%;
  }
  .navbar-nav .nav-item {
    margin-right: 8px;
  }
  .navbar-nav .dropdown-menu {
    margin: 1rem 1rem 2rem 2rem;
  }
  video {
    width: 70%;
  }
  iframe {
    width: 90%;
    height: 500px;
  }
}
